<div id="drawingMap"></div>
<script>
    // This example requires the Drawing library. Include the libraries=drawing
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">
    var polygonArray = []

    function initMap() {
        var testBound = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById('drawingMap'), {
            center: { lat: 13.749, lng: 100.546 },
            zoom: 11,
            streetViewControl: false,
            fullscreenControl: false
        });

        var drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
            },
            markerOptions: { icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png' },
            circleOptions: {
                fillColor: '#ffff00',
                fillOpacity: 1,
                strokeWeight: 5,
                clickable: false,
                editable: true,
                zIndex: 1
            }
        });
        drawingManager.setMap(map);


        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
            if (event.type == 'polygon') {
                var test = event.overlay.getPath()
                // console.log(event.overlay.getPath().getAt(1).lat(), ",", event.overlay.getPath().getAt(1).lng())
                for (var i = 0; i < event.overlay.getPath().getLength(); i++) {
                    var lat = event.overlay.getPath().getAt(i).lat();
                    var lng = event.overlay.getPath().getAt(i).lng();
                    //polygonArray.push(new google.maps.LatLng(lat, lng));
                    //polygonArray.push({ lat: lat, lng: lng });
                    polygonArray.push('' + lat + " " + lng + '');
                    testBound.extend(new google.maps.LatLng(lat, lng));
                }
                polygonArray.push(polygonArray[0]);
                const str = 'POLYGON((' + polygonArray.toString() + '))';
                console.log('POINT(' + testBound.getCenter().lat() + ' ' + testBound.getCenter().lng() + ')')
                console.log(polygonArray)
                console.log(str)
            }
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUn6pj0HG8KbM6zeFBsYgHEjHT70ti8gc&libraries=drawing&callback=initMap"
    async defer></script>

<style scoped>
    #drawingMap {
        width: 500px;
        height: 500px;
    }
</style>