<div id="homecontainer" class="ui text container">
    <div class="ui horizontal segment">
        <p>
            <h2 class="ui center aligned icon header">LOGIN
            </h2>

        </p>
        <div class="ui form">
            <div id="errorBox" class="ui form">
                <div class="ui error message" id="errorMessage">
                </div>

                <div class="field">
                    <label>Username</label>
                    <input type="email" id="inputUsername" autocomplete="off" placeholder="email@example.com">
                </div>

                <div class="field">
                    <label>Password</label>
                    <input type="password" id="inputPassword">
                </div>
            </div>
            <div id="btngrid" class="ui centered grid">
                <div class="ui fluid text container">
                    <button class="ui centered button" onclick="submitLogin()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitLogin() {
        const username = $('#inputUsername').val().trim()
        const password = $('#inputPassword').val().trim()

        $.ajax({
            type: 'POST',
            data: JSON.stringify({ username: username, password: password }),
            url: '/auth/login',
            contentType: 'application/json',
            success: function (data) {
                window.location.href = ''
            },
            error: function (data) {
                window.location.href = '/backoffice/login'
            }
        })
    }
</script>