<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 13.749, lng: 100.546 },
            zoom: 11
        });

        var miniPoly1 = new google.maps.Polygon({
            paths: [
                { lat: 13.727817046317062, lng: 100.42092662718449 },
                { lat: 13.724732008549097, lng: 100.42023998167667 },
                { lat: 13.723898207593233, lng: 100.42410236265812 },
                { lat: 13.726816497973177, lng: 100.42504650023136 },
                { lat: 13.728150561483202, lng: 100.42315822508488 }
            ],
            strokeColor: '#9345f7',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#9345f7',
            fillOpacity: 0.35

        })


        var miniPoly2 = new google.maps.Polygon({
            paths: [
                { lat: 13.72976464834337, lng: 100.42109407771613 },
                { lat: 13.728430594014538, lng: 100.42109407771613 },
                { lat: 13.728513972632408, lng: 100.42212404597785 },
                { lat: 13.727930321684806, lng: 100.42246736873176 },
                { lat: 13.728180457983058, lng: 100.42401232112434 },
                { lat: 13.729848026486954, lng: 100.42409815181281 }
            ],
            strokeColor: '#9345f7',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#9345f7',
            fillOpacity: 0.35
        })

        var myPolygon = new google.maps.Polygon({
            paths: [
                { lat: 13.753668747072231, lng: 100.40729760742192 },
                { lat: 13.71431496668097, lng: 100.40798425292974 },
                { lat: 13.718317347687956, lng: 100.44368981933599 },
                { lat: 13.72498783102591, lng: 100.46154260253911 },
                { lat: 13.73032408114101, lng: 100.47321557617192 },
                { lat: 13.755002657705623, lng: 100.46703576660161 },
                { lat: 13.751667866870024, lng: 100.44643640136724 }
            ],
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        var markerLocation = [
            { lat: 13.791015369051935, lng: 100.44300317382817 },
            { lat: 13.77767797482358, lng: 100.45055627441411 },
            { lat: 13.784346767148712, lng: 100.4608559570313 },
            { lat: 13.793682756476075, lng: 100.45192956542974 },
            { lat: 13.737661226768585, lng: 100.42171716308599 },
            { lat: 13.726321904936349, lng: 100.42103051757817 },
            { lat: 13.741096440461018, lng: 100.42916708725829 },
            { lat: 13.733092387510078, lng: 100.43191366928954 },
            { lat: 13.739762450619, lng: 100.44152670639892 },
            { lat: 13.748433248816086, lng: 100.43878012436767 },
            { lat: 13.745098364415298, lng: 100.42298727768798 }
        ]


        myPolygon.setMap(map)
        miniPoly1.setMap(map)
        miniPoly2.setMap(map)
        markerLocation.forEach(value => {
            if (google.maps.geometry.poly.containsLocation(new google.maps.LatLng(value), myPolygon)) {
                var marker = new google.maps.Marker({
                    position: { lat: value.lat, lng: value.lng },
                    map: map
                });
            }
        })

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUn6pj0HG8KbM6zeFBsYgHEjHT70ti8gc&callback=initMap&libraries=geometry"
    async defer></script>
<style scoped>
    #map {
        width: 500px;
        height: 500px;
    }
</style>