<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/backoffice.css">


    <title>Homepage</title>
</head>

<body>

    <div class="row">
        <div class="column">
            <div id="application" class="ui segment">
                <div class="ui two column middle aligned grid">
                    <div class="left aligned column">
                        <h1 class="ui header">
                            <img class="ui image" src="../images/logo black.png">
                            <div class="content">GDPR</div>
                        </h1>
                    </div>
                    <div class="right aligned column">
                        <div id="CallToAction">
                            {{#if isLogin}}
                            {{#ifCond role '===' 'admin'}}
                            <button class="ui primary icon button" id="btnAddAdmin" onclick="goToAdminPage()">
                                <i class="user icon"></i>
                                ADMIN MANAGEMENT
                            </button>
                            {{/ifCond}}
                            <button class="ui icon button" id="btnSignOut" onclick="logout()">
                                <i class="external alternate icon"></i>
                                SIGN OUT
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if isLogin}}
    <div class="row">
        <div id="menu" class="ui basic segment">
            <div id="navigation" class="ui grid">
                {{#ifCond role '===' 'admin'}} <div class="ui three item secondary pointing menu">
                    <a id="offeredLandBtn" class="item" onclick="changePage('offeredLand')">
                        <h3>Offered Land</h3>
                    </a>
                </div>
                {{/ifCond}}
                {{#ifCond role '===' 'callcentre'}}
                <div class="ui one item secondary pointing menu">
                    <a id="offeredLandBtn" class="item" onclick="changePage('offeredLand')">
                        <h3>Offered Land</h3>
                    </a>
                </div>
                {{/ifCond}}
                {{#ifCond role '===' 'marketing'}}
                <div class="ui one item secondary pointing menu">
                    <a id="offeredLandBtn" class="item" onclick="changePage('offeredLand')">
                        <h3>Offered Land</h3>
                    </a>
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div>
    {{/if}}
    <!--End Application Bar-->
    {{{body}}}

</body>

</html>

<script>
    function changePage(page) {
        let urlPage = "";
        switch (page) {
            case "land": urlPage = "/backoffice/land"; break;
        }
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                window.location.href = urlPage;
            }
        });
    }

    function logout() {
        $.ajax({
            type: 'GET',
            url: '/auth/logout',
            contentType: 'application/json',
            success: () => {
                window.location.href = '/backoffice/login';
            }
        });
    }
</script>